html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


html{
    display: flex;
    justify-content: space-around;
}
body{
    font-family: Caramel;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* LOGO */

#logo-container{
    width: 35%;
    height: 100vh;
    background-image: url(./img/weinberg-cut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    

}

#logo{
    font-size: 15vh;
    background-color: rgba(0, 0, 0, 0.7);;
    color:white;
    text-align: center;
    margin-top: 20vh;
 
}

/* Main */

#main-container{
 width: 65%;
 height: 100vh;
 font-family:Bellafair ;
 display: flex;
 flex-direction: column;
 justify-content:center;
 gap:35px;
 background-color: rgb(240, 234, 234);
}
 h1{
    font-size: 28px;
 }
form{
    background-color: white;
    box-shadow: 0px 0px 10px black

}
form,h1{
    padding-left: 50px;
    padding-right:100px;
}
form,p{
    margin-top: 25px;
    margin-bottom:25px;
}
.input-wrap{
    display: flex;
}

.input *{
    display:block;
}
.input label{
    font-size: 18px;
}
.input{
    margin-right:45px;
    margin-bottom:25px;
}
input{
    border:2px solid lightgrey;
    border-radius: 10px;
    font-size: 24px;
    padding: 2px;
    padding-left: 10px;
    outline: none;
}
#button{
 background-color:rgb(43, 102, 15);
 font-size: 18px;
 padding: 10px;
 color:white;
 border-radius: 10px;
 border:none;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 width: 180px;
}
p{
    font-size: 28px;
}

input:focus{
    border-color: rgb(43, 102, 15);
    box-shadow: 5px 3px 3px black;
}

#button:hover{
 box-shadow: 0px 0px 5px rgb(87, 88, 88);
}

#button:active {
    transform: translate(1px,5px);

  }